.login-page {
    background-color: #141414; /* Dark Background */
    color: #ffffff; /* White text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.login-page h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.login-page input {
    background-color: #333; /* Input background */
    border: none;
    padding: 15px;
    margin: 10px 0;
    width: 300px;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-page input:hover {
    background-color: #555; /* Darker on hover */
}

.login-page button {
    background-color: #e50914; /* Netflix Red */
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.login-page button:hover {
    background-color: #f40612; /* Darker Red on hover */
}

.recommendations {
    background-color: #141414; /* Dark Background */
    color: #ffffff;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.recommendations h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.recommendations .movie {
    margin: 10px;
    display: inline-block;
}

.recommendations .movie img {
    border-radius: 8px;
    width: 200px;
    transition: transform 0.3s;
}

.recommendations .movie img:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}
